.ds-table {
	border-spacing: 0px;
	&__row {
		&:nth-child(odd) {
			background: #8b949d;
		}
		&:nth-child(even) {
			background: #c4c4c4;
		}
	}
	&__cell {
		padding: 8px;
		color: #fff;
		font-weight: 600;
	}
}
