$GrayCf: #cfd2d4;
$MountedBlackCF: #53575a;
$BlackCf: #000000;
$RedCF: #e1251b;
$OrangeCF: #ff461b;
$YellowCF: #f5a800;
$YellowWhiteCF: #fed16d;
$GreenDone: #66ce71;

$TextPrimary: #2f343a;
$TextSecondary: #8b949d;
$TextParagraph: #646b72;
$TextTetriary: #c4c4c4;
$TextWhite: #ffffff;
$LinkToPage: #fc5050;
$LinkToPage2: #305dff;
