$GrayCf: #CFD2D4;
$MountedBlackCF: #53575A;
$BlackCf: #000000;
$RedCF: #E1251B;
$OrangeCF: #FF461B;
$YellowCF: #F5A800;
$YellowWhiteCF: #FED16D;

$TextPrimary: #2F343A;
$TextSecondary: #8B949D;
$TextParagraph: #646B72;
$TextTetriary: #C4C4C4;
$TextWhite: #FFFFFF;
$LinkToPage: #FC5050;
$LinkToPage2: #305DFF;
$GreenDone: #66CE71;

$BackgroundWhite: #EFF3F9;
$BorderLands: #BDC6CF;
$BodySite: #F1F4F8;

$BodyDark: #242935;
$DarkModeBg: #2A3246;
$DarkPlate: #363D52;
$DarkModeSecondary: #59627B;
