.grid {
	display: flex;

	&--rows {
		flex-direction: column;
	}

	&--baseline {
		align-items: baseline;
	}

	&__col {
		flex-grow: 1;

		@for $i from 1 through ($grid-columns) {
			@include screen-desktop {
				&--#{$i} {
					width: 100%/ ($grid-columns/$i);
					flex-basis: 100%/ ($grid-columns/$i);
					flex-grow: unset;
				}
			}
			@include screen-mobile {
				&--#{$i}--mobile {
					width: 100%/ ($grid-columns/$i);
					flex-basis: 100%/ ($grid-columns/$i);
					flex-grow: unset;
				}
			}
		}

		@include screen-mobile {
			&--#{$grid-columns}--mobile {
				width: 100%;
				max-width: 100%;
				flex-basis: 100%;
				flex-grow: unset;
			}
		}
	}

	&--center {
		&_hor {
			&:not(.grid_rows) {
				justify-content: center;
			}

			&.grid_rows {
				align-items: center;
			}
		}

		&--vert {
			&:not(.grid_rows) {
				align-items: center;
			}

			&.grid_rows {
				justify-content: center;
			}
		}
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--narrow {
		box-sizing: border-box;

		@include screen-desktop {
			padding: 0 5%;
		}
	}

	&--items {
		min-width: 100%;

		@include screen-desktop {
			margin: -($grid-gutter/2);
		}

		@include screen-mobile {
			margin: -($grid-gutter-mobile/2);
		}
	}

	&__item {
		box-sizing: border-box;

		@include screen-desktop {
			padding: $grid-gutter/2;
		}

		@include screen-mobile {
			padding: $grid-gutter-mobile/2;
		}
	}
}
